header{
    height: auto;
    .logo{
        width: 150px;
        height: 150px;
    }
    .listamenu{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        ul{
            list-style: none;
            margin: 0px;
            display: flex;
            li{
                margin: 5px;
                a{
                    color: $colornav;
                    text-decoration: none;
                    font-size: 1.2rem;
                    font-family: 'Architects Daughter', cursive;
                    &:hover{
                        color: white;
                    }
                }
            }
        }
    }   
}