.mainnosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "portadanosotros portadanosotros"
    "fotopagnosotros textopagnosotros";
    overflow: hidden;
}
.portadanosotros{
    grid-area: portadanosotros;
    .indexnosotros{
        background-image: url(../media/fotos/fondonosotros.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 35vh;
        h3{
            font-family: 'Architects Daughter', cursive;
            color: $colorfuente;
            display: flex;
            flex-direction: column;
            font-size: 4.5rem;
        }
    }
}
.fotopagnosotros{
    grid-area: fotopagnosotros;
    img{
        width: 500px;
        height: 650px;
    }
}
.textopagnosotros{
    grid-area: textopagnosotros;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        font-family: 'Architects Daughter', cursive;
        color: $colorfuente;
        margin: 10px;
        font-size: 3rem;
    }
    p{
        font-family: 'Architects Daughter', cursive;
        color: $colorfuente;
        font-size: 1.5rem;
        margin: 10px;
        line-height: 1.5;
        text-align: center;
    }
}