.mainproductos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7,auto);
    grid-template-areas: 
    "portadaproductos portadaproductos"
    "descproducto1 fotoproducto1"
    "fotoproducto2 descproducto2"
    "descproducto3 fotoproducto3"
    "fotoproducto4 descproducto4"
    "descproducto5 fotoproducto5"
    "fotoproducto6 descproducto6";
    overflow: hidden;
}
.portadaproductos{
    grid-area: portadaproductos;
    .indexproductos{
        background-image: url(../media/fotos/fondopiezas.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 35vh;
        h3{
            font-family: 'Architects Daughter', cursive;
            color: $colorfuente;
            display: flex;
            flex-direction: column;
            font-size: 4.5rem;
        }
    }
}
.descproducto1{
    grid-area: descproducto1;
    align-items: flex-end;
    text-align: end;
    @include textoproductos;
}
.fotoproducto1{
    display: flex;
    grid-area: fotoproducto1;
    justify-content: flex-start;
    @include fotoproductos;
}
.fotoproducto2{
    display: flex;
    grid-area: fotoproducto2;
    justify-content: flex-end;
    @include fotoproductos;
}
.descproducto2{
    grid-area: descproducto2;
    align-items: flex-start;
    text-align:start;
    @include textoproductos;
}
.descproducto3{
    grid-area: descproducto3;
    align-items: flex-end;
    text-align: end;
    @include textoproductos;
}
.fotoproducto3{
    display: flex;
    grid-area: fotoproducto3;
    justify-content: flex-start;
    @include fotoproductos;
}
.fotoproducto4{
    display: flex;
    grid-area: fotoproducto4;
    justify-content: flex-end;
    @include fotoproductos;
}
.descproducto4{
    grid-area: descproducto4;
    align-items: flex-start;
    text-align: start;
    @include textoproductos;
}
.descproducto5{
    grid-area: descproducto5;
    align-items: flex-end;
    text-align: end;
    @include textoproductos;
}
.fotoproducto5{
    display: flex;
    grid-area: fotoproducto5;
    justify-content: flex-start;
    @include fotoproductos;
}
.fotoproducto6{
    display: flex;
    grid-area: fotoproducto6;
    justify-content: flex-end;
    @include fotoproductos;
}
.descproducto6{
    grid-area: descproducto6;
    align-items: flex-start;
    text-align: start;
    @include textoproductos;
}
