.mainindex{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6,auto);
    grid-template-areas:
    "portada portada portada portada"
    "carusel carusel carusel carusel"
    "video1 video1 video2 video2"
    "nosotros1 nosotros1 nosotros2 nosotros2"
    "piezas piezas piezas piezas"
    "foto1 foto2 foto3 foto4";
    overflow: hidden;
}
.portada{
    grid-area: portada;
    .index{
        background-image: url(../media/fotos/fondoindex.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 95vh;
        h2{
            font-family: 'Architects Daughter', cursive;
            font-size: 5.5rem;
            color: $colorfuente;
            margin-top: 4rem;
        }
        a{
            font-family: 'Architects Daughter', cursive;
            font-size: 5rem;
            color: $colorfuente;
            margin-bottom: 3rem;
            text-decoration: none;
            &:hover{
                transform: scale(1.2,1.2);
                color: $colorhover;
            }
        }
        
    }
}
.carusel{
    grid-area: carusel;
}
.video1{
    grid-area: video1;
    video{
        width: 100%;
        height: 100%;
    }
}
.video2{
    grid-area: video2;
    video{
        width: 100%;
        height: 100%;
    }
}
.nosotros1{
    grid-area: nosotros1;
    .fotonosotros{
        padding: 100px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        img:hover{
            transform: scale(1.2,1.2);
        }
    }
}
.nosotros2{
    grid-area: nosotros2;
    display: flex;
    align-items: center;
    .textonosotros{
        font-family: 'Architects Daughter', cursive;
        color: $colorfuente;
        display: flex;
        flex-direction: column;
        margin: 10px;
        h2{
            font-size: 3rem;
            text-align: center;
        }
        p{
            font-size: 1.5rem;
            padding-top: 1.5rem;
            text-align: center;
        }
    }
}
.piezas{
    grid-area: piezas;
    background-image: url(../media/fotos/piezas.jpg);
    min-height: 50vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .productos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        a{
            font-size: 4rem;
            font-family: 'Architects Daughter', cursive;
            color: $colorfuente;
            text-decoration: none;
            margin-top: 2rem;
            &:hover{
                transform: scale(1.1,1.1);
                color: $colorhover;
            }
        }
        
    }
}
.foto1{
    grid-area: foto1;
    @include fotosindex;
}
.foto2{
    grid-area: foto2;
    @include fotosindex;
}
.foto3{
    grid-area: foto3;
    @include fotosindex;
}
.foto4{
    grid-area: foto4;
    @include fotosindex;
}